name: PX4 ROS2 Integration CI
on:
  push:
  pull_request:
jobs:
  px4-ros2:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/sloretz/ros:humble-desktop-full

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y \
            git \
            python3-pip \
            python-is-python3 \
            ninja-build \
            protobuf-compiler \
            libeigen3-dev \
            libopencv-dev \
            cmake \
            build-essential

          pip3 install --no-cache-dir \
            kconfiglib \
            empy==3.3.4 \
            pyros-genmsg \
            jinja2 \
            packaging \
            jsonschema
      - name: Clone PX4 and ROS dependencies
        run: |
          mkdir -p ~/workspace
          cd ~/workspace
          git clone -b release/1.14 https://github.com/PX4/PX4-Autopilot.git --recursive

          mkdir -p ros2_ws/src
          cd ros2_ws/src
          git clone -b release/1.14 https://github.com/PX4/px4_msgs.git --recursive
          git clone -b release/v1.14 https://github.com/PX4/px4_ros_com.git --recursive
      - name: Run PX4 and ROS integration test
        run: |
          chmod +x ci/run_px4_ros2.sh
          ci/run_px4_ros2.sh



